# Test 2025-11-16 at 00:07:33
name: Build and Push Docker Image
run-name: silicon_compiler_docker_image_asic

on:
  push:
    paths:
      - .github/workflows/run.yml

jobs:

  step0:
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 0
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/0.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:0

  step1:
    runs-on: ubuntu-latest
    needs: step0
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 1
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/1.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:1

  step2:
    runs-on: ubuntu-latest
    needs: step1
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 2
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/2.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:2

  step3:
    runs-on: ubuntu-latest
    needs: step2
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 3
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/3.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:3

  step4:
    runs-on: ubuntu-latest
    needs: step3
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 4
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/4.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:4

  step5:
    runs-on: ubuntu-latest
    needs: step4
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 5
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/5.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:latest

  step6:
    runs-on: ubuntu-latest
    needs: step5
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 6
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/6.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:6
