# Test 2025-11-16 at 14:23:10
name: Build and Push Docker Image
run-name: silicon_compiler_docker_image_asic

on:
  push:
    paths:
      - .github/workflows/run.yml

jobs:

  step0:
    name: base
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 0
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/base.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:base

  step1:
    name: openroad
    runs-on: ubuntu-latest
    needs: step0
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 1
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/openroad.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:openroad

  step2:
    name: klayout
    runs-on: ubuntu-latest
    needs: step1
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 2
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/klayout.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:klayout

  step3:
    name: yosys
    runs-on: ubuntu-latest
    needs: step2
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 3
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/yosys.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:yosys

  step4:
    name: sv2v
    runs-on: ubuntu-latest
    needs: step3
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 4
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/sv2v.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:sv2v

  step5:
    name: yosys-slang
    runs-on: ubuntu-latest
    needs: step4
    steps:

      - name: Checkout repo silicon_compiler_docker_image_asic
        uses: actions/checkout@v3


      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build step 5
        uses: docker/build-push-action@v4
        with:
          context: steps
          file: steps/yosys-slang.txt
          push: true
          tags: ghcr.io/philiprbrenan/silicon_compiler_docker_image_asic:latest
